build-essential
curl
docker.io
git
gunicorn
language-pack-en
libicu-dev
libltdl-dev
libpcre3-dev
libxml2-dev
libxml2-utils
libxslt-dev
python-dev
python-lxml
python-pip
python-pyicu
tcl
wget
zlib1g-dev
